<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=VT323&display=swap" rel="stylesheet">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Plant Disease Prediction</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body >
    <image src="{{ url_for('static', filename='images/pixel-landscape-2f68t4t9xy73gxn0.jpg') }}" alt="AgriVision" class="center">
    <div class="main-heading">
        <h1>AgriVision - Plant Disease Predictor</h1>
        <div class="center-box">
            <p>
                AgriVision uses AI to detect plant diseases from uploaded images, empowering timely action for healthier crops. 
                Upload, analyze, and get instant, accurate results to safeguard your plants.
               
            </p>
        </div>
                
                <button class="predict-button" onclick="window.location.href='/predict-form'" type="submit">Predict</button>

        
    </div>
</body>
</html>
 