<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=VT323&display=swap" rel="stylesheet">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Plant Disease Prediction</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body> 
    <div class="predictpage">
        <div class="upload-box">
            <form action="/predict" method="post" enctype="multipart/form-data">
                <label for="file-upload" class="upload-label">Choose Image</label>
                <input type="file" id="file-upload" name="file" accept="image/*" required>
                <button type="submit">Submit</button>
            </form>
        </div>
    </div>
</body>
</html>